* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    background: #efefef;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

#logo {
    width: 160px;
    margin-left: 45px;
}

.left-nav, .right-nav {
    display: flex;
    align-items: center;
}

.left-nav li {
    list-style: none;
    display: inline-block;
}

.left-nav li img  {
    width: 28px;
    margin: 0 15px;
}

#profile-pic {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.user-icon {
    margin-left: 30px;
}

.online {
    position: relative;
}

.online::after {
    content: "";
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}

.search-box {
    background: #efefef;
    width: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-icon {
    width: 18px;
}

#search-bar {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

.left-sidebar, .right-sidebar {
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.right-sidebar {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.main-content {
    flex-basis: 47%;
}

.imp-links a, .shortcut-links a { 
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a:last-child {
    color: #1876f2;
}

.imp-links a img {
    width: 25px;
    margin-right: 15px;
}

.imp-links {
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img {
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p {
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}

.right-title {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.right-sidebar h4 {
    font-weight: 600;
    font-size: 16px;
}

.right-title a {
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event {
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.event-date {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event p {
    font-size: 12px;
}

.event a {
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.event-date span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}

.sidebar-ad {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.online-list .online img {
    width: 40px;
    border-radius: 50%;
}

.online-list .online {
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;

}

.online-list .online::after {
    top: unset;
    bottom: 0;
}

.story-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story img {
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}

.story p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story-1 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(../images/status-1.png);
}

.story-2 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(../images/status-2.png);
}

.story-3 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(../images/status-3.png);
}

.story-4 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(../images/status-4.png);
}

.story-5 {
    background-image: linear-gradient(transparent,rgba(0,0,0,0.5)), url(../images/status-5.png);
}

#plus-icon {
    top: unset;
    left:  50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}

.create-post-container {
     width: 100%;
     background: #fff;
     border-radius: 6px;
     padding: 20px;
     color: #626262;
}

.userProfile {
    display: flex;
    align-items: center;

}

#profile-icon {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.userProfile p {
    margin-bottom: -5px;
    font-weight: 500;
}

#privacy {
    background: transparent;
    border: 0;
    color: #626262;
    font-size: 12px;
}

.post-container {
    padding: 30px 0 0 55px ;
}

#post-input {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.media-buttons {
    display: flex;
    margin-top: 10px;
}

.media-buttons a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.media-icon {
    width: 20px;
    margin-right: 10px;
}

.newsfeed {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

#date-time {
    font-size: 13px;
    color: #9a9a9a;
}

.post-text {
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

#hashtag {
    color: #1876f2;
    text-decoration: none;
}

.post-image {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.activity-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icon {
    width: 18px;
    margin-right: 10px;
}

.icon-container div {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.profile-icon-container {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-row  {
    display: flex;
    justify-content: space-between;
}

.post-row a{
    color: #9a9a9a;
}

.load-btn {
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #1876f2;
    color: #fff;
    background: #1876f2;
    border-radius: 20px;
}

footer {
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px 0;
    font-size: 13px;
}

.dropdown-menu {
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    overflow: hidden;
    top: 108%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}

.dropdown-menu-height {
    max-height: 450px;
}

.userProfile a {
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}

.inner-dropdown {
    padding: 20px;
}

.inner-dropdown hr {
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}

.setting-links {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.dropdown-icon {
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.setting-links a {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}